$--font-size-xxs: 8px;
$--font-size-smallest: 11px;
$--font-size-small: 14px;
$--font-size-base: 15px;
$--font-size-medium: 16px;
$--font-size-large: 24px;
$--font-size-largest: 28px;
$--font-weight-primary: 700;
$--font-line-height-primary: 28px;
